<h1>About RevisionHub</h1>
<p>Basically 5 people got together and had a vision. After 24 hours of coding (powered by free snacks &amp; cider) we ended up with this. Please be aware we did code it in 24 hours...bugs probably exist. BONER</p>
