<form id="search" action="" method="GET">
	<input class="defaultText title-text" type="text" name="query" autocomplete="off" size="10" maxlength="100" title="Type in course name, uni or any other search queries..." />
</form>

<div id="results">


</div>