        	<form id="search" action="" method="GET">
          		<input class="title-text" type="text" name="query" size="10" maxlength="100" 
          		title="Type in course name or whatever the hell you want..." />
        	</form>
        	
        	<div id="results">
        	
        		
        	</div>

