// Place all the styles related to the home controller here.

// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div[id^="epframe"] {
    width: 800px;
    height: 600px;
}

#epframepadtest {
    width: 800px;

}

